{% extends 'base.html' %}

{% block content %}

  <h2>Index</h2>

  {{ section.content | safe }}

  {% set section = get_section(path="_index.md", metadata_only=true) %}

  <div class="nav-link">

      <dl>

        <dt>Title</dt>
        <dd>{{ section.title }}</dd>

        <dt>Permalink</dt>
        <dd>{{ section.permalink }}</dd>

        <dt>Extra icon</dt>
        <dd>{{ section.extra.icon }}</dd>

      </dl>

  </div>


  <h2>Subsections</h2>

  <ul>

  {% for section_name in section.subsections %}

    {% set section = get_section(path=section_name, metadata_only=true) %}

    <pre>

      {{ section | json_encode(pretty=true) }}
 
    </pre>

    <li>

      <dl>

        <dt>Title</dt>
        <dd>{{ section.title }}</dd>

        <dt>Permalink</dt>
        <dd>{{ section.permalink }}</dd>

        <dt>Extra icon</dt>
        <dd>{{ section.extra.icon }}</dd>

      </dl>
     
    </li>
 
  {% endfor %}

  </ul>

{% endblock %}
